@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

:root {
  --color-mid: #eeeeee;
  --color-light: #fff;
  --color-dark: #333;
  --font-family: 'Work Sans', sans-serif;
  --border-radius: 3px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  letter-spacing: 2px;
  background-color: var(--color-mid);
  font-family: var(--font-family);
  color: var(--color-dark);
}

.title {
  text-align: center;
  margin-top: 10vh;
}

.question-container {
  background: var(--color-dark);
  max-width: 700px;
  margin: 2rem auto 0;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.question {
  margin: 1rem 0;
  background: var(--color-mid);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.question h3 {
  display: flex;
  align-items: center;
}

.icon-btn {
  background-color: transparent;
  outline: none;
  border: none;
}

.icon {
  color: teal;
  font-size: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}
